@font-face {
  font-family: "Bruno Ace SC";
  src: url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.eot");
  src: url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.woff2") format("woff2"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.woff") format("woff"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.ttf") format("truetype"),
    url("/assets/font/Bruno_ace_sc/Bruno_ace_ace.svg#Bruno Ace SC")
      format("svg");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto/Roboto.eot");
  src: url("/assets/font/Roboto/Roboto?#iefix") format("embedded-opentype"),
    url("/assets/font/Roboto/Roboto.woff2") format("woff2"),
    url("/assets/font/Roboto/Roboto.woff") format("woff"),
    url("/assets/font/Roboto/Roboto.ttf") format("truetype"),
    url("/assets/font/Roboto/Roboto.svg#Roboto") format("svg");
}

* {
  scroll-behavior: smooth;
}

// html {
//   height: 100vh;
//   height: calc(var(--vh, 1vh) * 100);
// }

html,
button {
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-family: "Bruno Ace SC";
}

img {
  max-width: 100%;
}

a {
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
}

a:not(#logo a):after {
  content: "";
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: transform 0.25s ease-out;
  bottom: 0;
  left: 0;
}

a:not(#logo a):hover {
  color: rgba(83, 83, 83, 0.767); // !important
  font-style: italic;
}

a:not(#logo a):hover:after {
  transform: scaleX(1);
}

button {
  padding: 8px;
  border-radius: 8px;
  width: fit-content;
  cursor: pointer;
}

button:hover {
  font-size: italic;
}

button.info {
  border: black;
  color: white;
  background: rgba(83, 83, 83, 0.767);
}

button.info:hover {
  border: white;
  color: black;
  background: rgba(185, 182, 182, 0.767);
}

#scroll-to-top {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

main {
  //   min-height: 120vh; // A retirer avec contenu
  margin: auto;
  max-width: 1024px;
  & section#hero-header {
    // color: $text-color-light; // pour text full black
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/fond-bleu.jpg") no-repeat center center / cover;
    & h1 {
      backdrop-filter: blur(10px);
      background-color: rgba(222, 216, 216, 0.5);
      width: 80%;
      max-width: 600px;
      padding: 8px 0;
      text-align: center;
      border-radius: 8px 8px 0 0;
      border: 1px solid white;
    }
    & #content {
      margin-top: 0.5rem;
      backdrop-filter: blur(10px);
      background-color: rgba(222, 216, 216, 0.5);
      display: flex;
      width: 80%;
      max-width: 600px;
      border-radius: 0 0 8px 8px;
      border: 1px solid white;
      padding-bottom: 8px;
      & #p-left {
        padding: 8px;
      }
      & div {
        display: flex;
        flex-direction: column;
        padding: 8xp;
        & p {
          padding: 8px;
        }
        & button {
          margin: auto;
        }
      }
    }
  }
  & section:nth-child(1) {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }
  // & section:not(:nth-child(1)) {
  //   height: 400px;
  // }
}

html[data-theme="light"] {
  background-color: $bg-color-light;
  color: $text-color-light;
  & a {
    color: $text-color-light;
  }
  & header {
    background: $bg-color-light;
    &nav {
      & #nav {
        & i[data-theme-toggler] {
          color: $text-color-light;
        }
      }
    }
  }
}

html[data-theme="dark"] {
  background-color: $bg-color-dark;
  color: $text-color-dark;
  & a {
    color: $text-color-dark;
  }
  & header {
    background: $bg-color-dark;
    &nav {
      & #nav {
        & i[data-theme-toggler] {
          color: $text-color-dark;
        }
      }
    }
  }
}

// Darkmode
@media only screen and (max-width: 768px) {
  html[data-theme="light"] {
    & header {
      & nav {
        & i[data-theme-toggler] {
          color: $text-color-dark;
        }
        & #nav {
          background-color: $bg-color-dark;
          & ul {
            & li {
              color: $text-color-dark;
              & a {
                color: $text-color-dark;
              }
            }
          }
        }
      }
    }
  }

  html[data-theme="dark"] {
    & header {
      & nav {
        & i[data-theme-toggler] {
          color: $text-color-light;
        }
        & #nav {
          background-color: $bg-color-light;
          & ul {
            & li {
              color: $text-color-light;
              & a {
                color: $text-color-light;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  main {
    & section#hero-header {
      & h1 {
        width: 50%;
      }
      & #content {
        width: 50%;
        & #p-left {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #scroll-to-top {
    bottom: 3rem;
  }
}
